
BasedOnStyle: WebKit
Standard: Cpp11
Language: Cpp
ColumnLimit: 300

SortIncludes: false

NamespaceIndentation: All
IndentCaseLabels: true
IndentWidth: 4
IndentWrappedFunctionNames: true

TabWidth: 4
UseTab: ForIndentation

AlignTrailingComments: true
AlignOperands: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortFunctionsOnASingleLine: All

AlignAfterOpenBracket: AlwaysBreak
BreakConstructorInitializers: BeforeComma
BreakConstructorInitializersBeforeComma: true
BreakInheritanceList: BeforeComma
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true

SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: true
SpacesInParentheses: true
SpacesInSquareBrackets: true

KeepEmptyLinesAtTheStartOfBlocks: true

AccessModifierOffset: -4
AlignEscapedNewlinesLeft: false
DerivePointerAlignment: false
PointerAlignment: Left

ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

ExperimentalAutoDetectBinPacking: false
MaxEmptyLinesToKeep: 1

ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: false
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200

AllowShortBlocksOnASingleLine 
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
CommentPragmas: '^ IWYU pragma:'
Cpp11BracedListStyle: false
DisableFormat: false

ForEachMacros: [ foreach, Q_FOREACH, BOOST_FOREACH ]
KeepEmptyLinesAtTheStartOfBlocks: true
MacroBlockBegin: ''
MacroBlockEnd: ''
SpaceBeforeCpp11BracedList: false

SpaceAfterLogicalNot: true
